<section id="about">

    <div class="about-container">

        <!-- LEFT IMAGE -->

        <div class="about-image">

            <div class="about-image-glow"></div>

            <img src="{{ profile.about_image.url }}"
                 alt="{{ profile.name }}">

        </div>

        <!-- RIGHT CONTENT -->

        <div class="about-content">

            <div class="section-header left">

                <span>ABOUT ME</span>

                <h2>Who I Am</h2>

            </div>

            <h3 class="about-role">

                {{ profile.role }}

            </h3>

            <p class="about-description">

                {{ profile.about_bio }}

            </p>

            <div class="about-info">

                <div class="info-card">

                    <span class="info-title">

                        <i class="fa-solid fa-user"></i>

                        Name

                    </span>

                    <p>{{ profile.name }}</p>

                </div>

                <div class="info-card">

                    <span class="info-title">

                        <i class="fa-solid fa-envelope"></i>

                        Email

                    </span>

                    <p>{{ profile.email }}</p>

                </div>

                <div class="info-card">

                    <span class="info-title">

                        <i class="fa-solid fa-location-dot"></i>

                        Location

                    </span>

                    <p>{{ profile.location }}</p>

                </div>

                <div class="info-card">

                    <span class="info-title">

                        <i class="fa-solid fa-phone"></i>

                        Phone

                    </span>

                    <p>{{ profile.phone }}</p>

                </div>

            </div>

        </div>

    </div>

</section>