<section id="about">

    <div class="about-container">

        <div class="about-image">

            <img src="/static/images/profile.png" alt="Aman Sharma">

        </div>

        <div class="about-content">

            <h4>ABOUT ME</h4>

            <h2>Python Backend Developer</h2>

            <p>

                I'm Aman Sharma, a passionate Backend Developer from Kanpur,
                currently pursuing B.Tech in Computer Science Engineering.

                I enjoy building scalable web applications using
                Django, FastAPI, SQL and JavaScript.

                I also love solving Data Structures & Algorithms problems
                and continuously learning new technologies.

            </p>

            <div class="about-info">

                <div>
                    <strong>Name</strong>
                    <span>Aman Sharma</span>
                </div>

                <div>
                    <strong>Email</strong>
                    <span>sharmaman737696@gmail.com</span>
                </div>

                <div>
                    <strong>Education</strong>
                    <span>B.Tech CSE (2026)</span>
                </div>

                <div>
                    <strong>Location</strong>
                    <span>Kanpur, India</span>
                </div>

            </div>

        </div>

    </div>

</section>