{% load static %}

<section id="hero">
    <div class="hero-bg">
        
    </div>

    <div class="hero-left">

        <p class="hello">
            👋 Hello, I'm
        </p>

        <h1>
            <h1>{{ profile.name }}</h1>
        </h1>

        <h2>
            {{ profile.role }}
        </h2>

        <p class="hero-desc">
         {{ profile.bio }}

        </p>

       <div class="hero-buttons">

    <a href="{{ profile.resume.url }}"
       class="btn-primary"
       download>
        Download Resume
    </a>

    <a href="#contact" class="btn-secondary">
        Contact Me
    </a>

</div>

    </div>

    <div class="hero-right">

        <div class="image-box">

           <img src="{{ profile.image.url }}" alt="{{ profile.name }}">

        </div>

    </div>

</section>