{% load static %}

<section id="hero">
    <div class="hero-bg">
        
    </div>

    <div class="hero-left">

        <p class="hello">
            👋 Hello, I'm
        </p>

        <h1>
            Aman <span>Sharma</span>
        </h1>

        <h2>
            Python Backend Developer
        </h2>

        <p class="hero-desc">

            I build scalable backend applications using
            Django, FastAPI, SQL and JavaScript.

        </p>

        <div class="hero-buttons">

            <a href="#" class="btn-primary">

                Download Resume

            </a>

            <a href="#contact" class="btn-secondary">

                Contact Me

            </a>

        </div>

    </div>

    <div class="hero-right">

        <div class="image-box">

            <img src="{% static 'images/profile.png' %}" alt="Aman">

        </div>

    </div>

</section>