<section id="projects">

    <div class="container">

        <div class="section-header">

            <span>MY PROJECTS</span>

            <h2>Featured Projects</h2>

        </div>

        <div class="projects-grid">

            {% for project in projects %}

            <article class="project-card">

                <div class="project-image">

                    {% if project.image %}

                    <img src="{{ project.image.url }}"
                         alt="{{ project.title }}">

                    {% endif %}

                </div>

                <div class="project-content">

                    <h3>{{ project.title }}</h3>

                    <p>{{ project.short_description }}</p>

                    <div class="tech-stack">

                        {{ project.tech_stack }}

                    </div>

                    <div class="project-buttons">

                        {% if project.github %}

                        <a href="{{ project.github }}"
                           target="_blank"
                           class="btn-primary">

                            <i class="fa-brands fa-github"></i>

                            GitHub

                        </a>

                        {% endif %}

                        {% if project.live_demo %}

                        <a href="{{ project.live_demo }}"
                           target="_blank"
                           class="btn-secondary">

                            <i class="fa-solid fa-arrow-up-right-from-square"></i>

                            Live Demo

                        </a>

                        {% endif %}

                    </div>

                </div>

            </article>

            {% empty %}

            <article class="project-card">

                <div class="project-content">

                    <h3>No Projects Added Yet</h3>

                    <p>

                        Add your projects from Django Admin Panel.

                    </p>

                </div>

            </article>

            {% endfor %}

        </div>

    </div>

</section>