<section id="stats">

    <div class="stats-container">

        <div class="stat-card">
            <h2>{{ visitor_count }}</h2>
            <p>Visitors</p>
        </div>

        <div class="stat-card">
            <h2>{{ message_count }}</h2>
            <p>Messages</p>
        </div>

        <div class="stat-card">
            <h2>{{ project_count }}</h2>
            <p>Projects</p>
        </div>

        <div class="stat-card">
            <h2>{{ certificate_count }}</h2>
            <p>Certificates</p>
        </div>

    </div>

</section>